In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
Certainly! You can create a Pandas Series with the given data and print it as follows:

In [1]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
Certainly! You can create a list with 10 elements and then convert it into a Pandas Series using the pd.Series() function. Here's an example:

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
n Pandas, a DataFrame is a two-dimensional, size-mutable, and tabular data structure. It can be thought of as a collection of Pandas Series objects, where each Series represents a column of the DataFrame. In essence, a DataFrame is a table-like structure with rows and columns, and it is one of the most commonly used data structures in data analysis and manipulation.

Here are some key characteristics of a DataFrame:

Two-Dimensional: DataFrames have rows and columns, making them two-dimensional data structures.

Size-Mutable: You can add or remove rows and columns from a DataFrame after it's created.

Heterogeneous Data Types: Each column in a DataFrame can have a different data type (e.g., integers, floats, strings).

Labeled Axes: Both rows and columns in a DataFrame can have labels (index and column names) for easy data selection and manipulation.

Flexibility: DataFrames support various data operations, including filtering, aggregation, merging, and reshaping.

Now, let's compare a Pandas Series and a DataFrame with an

In [3]:
import pandas as pd

# Create a Pandas Series
series_data = pd.Series([1, 2, 3, 4, 5], name='Numbers')

# Create a DataFrame
df_data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
                         'Age': [25, 30, 35, 28, 22]})

# Display the Series
print("Pandas Series:")
print(series_data)

# Display the DataFrame
print("\nPandas DataFrame:")
print(df_data)

Pandas Series:
0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64

Pandas DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
4      Eve   22

In [ ]:
In this example:

series_data is a Pandas Series that contains a simple list of numbers with an associated name ("Numbers"). It has a one-dimensional structure with a default index starting from 0.

df_data is a Pandas DataFrame that contains two columns: "Name" and "Age." Each column is represented as a Pandas Series, and the DataFrame itself is two-dimensional with labeled axes (index and column names).

Here are some key differences:

Dimensionality: A Series is one-dimensional, whereas a DataFrame is two-dimensional.

Tabular Structure: A DataFrame represents tabular data with rows and columns, while a Series is essentially a single column of data.

Naming: A DataFrame allows you to assign names to both rows (index) and columns. In contrast, a Series can have a name assigned to it, but it primarily represents a single column of data.

Multiple Columns: A DataFrame can contain multiple columns of data, making it suitable for handling structured datasets with various attributes.

In summary, while both Pandas Series and DataFrames are fundamental data structures in Pandas, DataFrames are more versatile and suitable for working with structured datasets, such as those commonly encountered in data analysis and data science tasks. Series are typically used for one-dimensional data or when you need to extract a single column from a DataFrame.

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
Pandas provides a wide range of functions and methods for manipulating data in a DataFrame. Here are some common functions and operations you can perform on a Pandas DataFrame, along with examples:

1. **Filtering Data**:
   - `df[df['column'] > value]`: You can filter rows based on a condition in a specific column.
   - Example: Filter rows where the "Age" column is greater than 30.

2. **Selecting Columns**:
   - `df['column_name']` or `df[['col1', 'col2']]`: You can select one or multiple columns.
   - Example: Select the "Name" column.

3. **Sorting Data**:
   - `df.sort_values(by='column_name')`: Sort the DataFrame by a specific column.
   - Example: Sort the DataFrame by the "Age" column in ascending order.

4. **Grouping and Aggregation**:
   - `df.groupby('group_column')['aggregation_column'].agg('aggregation_function')`: Group data by a column and perform aggregations.
   - Example: Group by "Category" and calculate the mean of "Price" for each category.

5. **Merging and Joining DataFrames**:
   - `pd.concat([df1, df2])` or `df1.merge(df2, on='key_column')`: Combine data from multiple DataFrames.
   - Example: Merge two DataFrames based on a common "ID" column.

6. **Pivoting and Reshaping**:
   - `df.pivot(index='row_index', columns='column_index', values='value_column')`: Reshape data from long to wide format.
   - Example: Pivot a DataFrame to convert "Year-Month" data into a matrix.

7. **Handling Missing Data**:
   - `df.isna()`, `df.dropna()`, `df.fillna(value)`: Identify, drop, or fill missing values.
   - Example: Replace missing values in the "Age" column with the mean age.

8. **Adding and Deleting Columns**:
   - `df['new_column'] = value` or `del df['column_name']`: Add or delete columns.
   - Example: Add a new column "Total" that sums two existing columns.

9. **Applying Functions**:
   - `df.apply(function)`: Apply a custom function to each row or column.
   - Example: Apply a function to calculate the age category for each person based on their age.

10. **Dropping Duplicates**:
    - `df.drop_duplicates(subset='column_name')`: Remove duplicate rows.
    - Example: Remove duplicate records based on the "ID" column.

11. **String Operations**:
    - `df['column'].str.method()`: Perform string operations on text columns.
    - Example: Convert text in the "Name" column to uppercase.

12. **DateTime Operations**:
    - `pd.to_datetime(df['date_column'])`: Convert a string column to a datetime object.
    - Example: Convert a "Date" column to datetime for time-based analysis.

13. **Applying Conditional Logic**:
    - `np.where(condition, value_if_true, value_if_false)`: Apply conditional logic to create a new column.
    - Example: Create a new column "Status" based on a condition in the "Score" column.

These are just some of the many functions and operations available in Pandas for data manipulation. The choice of function depends on the specific data manipulation task you need to perform in your analysis or data preprocessing workflow.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
In Pandas:

1. **Series**: A Pandas Series is mutable in the sense that you can modify the values of existing elements within the Series. For example, you can change the value of a specific element by assigning a new value to it using its index. However, you cannot change the length or data type of a Series once it's created.

2. **DataFrame**: A Pandas DataFrame is mutable as well. You can modify the values of existing cells, add or remove columns and rows, and perform various operations that change the structure or content of the DataFrame.

3. **Panel**: Pandas used to have a data structure called Panel, which was designed to handle three-dimensional data. However, starting from Pandas version 0.25.0 (July 2019), Panels have been deprecated, and users are encouraged to use DataFrames for handling multi-dimensional data instead. Therefore, Panels are considered obsolete, and you should use DataFrames or other appropriate data structures for your data manipulation needs.

In summary, both Series and DataFrames are mutable in nature, but Panels have been deprecated and should not be used for new projects.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
You can create a Pandas DataFrame using multiple Pandas Series by combining them into a dictionary and then converting the dictionary into a DataFrame. Each Series will become a column in the resulting DataFrame, and they should have the same length to align properly. Here's an example:

In [4]:
import pandas as pd

# Create multiple Pandas Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 28])
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles', 'Chicago'])

# Combine the Series into a dictionary
data = {'Name': names, 'Age': ages, 'City': cities}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago